$white:#FFFFFF;
$lightivory:#B5B3A1;
$lightivorytextshadow:#9B998B;
$darkivory:#949281;
$darkgrey:#5c5c5c;
$lightgrey:#999999;
$normalgrey:#757575;
//Start of ACL variables
$eul:#744ace;
$user:#7a6933;
$elite:#5876b4;
$xlator:#59724b;
$su:#ff6000;
$fmod:#45968B;
$thelper:#14b9d6;
$blue:#4c2dce;
$green:#008f0d;
$red:#b94309;
$purple:#bc3ecf;
$ideadraft:#987624;
$brown:#998b68;
$orange:#dc9100;
$black:#000000;
